@font-face {
    font-family: "SF-Pro-Display-Regular";
    src: url("../fonts/SF-Pro-Display-Regular.otf") format('truetype');
  }
.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 170px;
    .col{
        .cardSection3{
            background-color: #fff;
            border-radius: 4px;
            font-size: 14px;
            min-height: 375px;
            transition: transform .2s;
            &:hover{
                transform: scale(1.1);
                -webkit-box-shadow: 0px 21px 35px -7px rgba(0,0,0,0.6); 
                box-shadow: 0px 21px 35px -7px rgba(0,0,0,0.6);
            }
            header{
                h1{
                    font-size: 24px;
                    color: #111111;
                }
                padding: 32px 32px 17px 32px;
                border-bottom: 1px solid #E5E5E5;
                span{
                    color: #ababab;
                }
            }
            main{
                padding: 10px 32px 32px 32px;
                min-height: 210px;
            }
            footer{
                padding-left: 32px;
                button{
                    background-color: #1DD1A1;
                }
            }
            h1{
                margin: 0;
                padding: 0;
            }
            p{
                font-size: 14px;
                font-size: SF-Pro-Display-Regular;
                line-height: 17px;
                margin: 0;
                padding: 0;
            }
            
        }
    }
}
@media (max-width:1200px) and (min-width: 992px){
    .row{
        .col{
            .cardSection3{
                min-height: 380px;
                main{
                    min-height: 210px;
                }
            }
        }
    }
}
@media (max-width: 992px) and (min-width:768px){
    .row{
        display: block !important;
        width: 80%;
        margin: 0 auto;
        .col{
            .cardSection3{
                min-height: 320px;
                width: 80%;
                margin: 0 auto;
                main{
                    min-height: 150px;
                }
            }
            margin-bottom: 30px;
        }
    }
}
@media(max-width:768px) and (min-width:576px){
    .row{
        display: block !important;
        width: 80%;
        margin: 0 auto;
        .col{
            .cardSection3{
                min-height: 320px;
                margin: 0 auto;
                main{
                    min-height: 150px;
                }
            }
            margin-bottom: 30px;
        }
    }
}
@media(max-width:576px){
    .row{
        display: block !important;
        width: 80%;
        margin: 0 auto;
        .col{
            .cardSection3{
                min-height: 250px;
                main{
                    min-height: 100px;
                }
                footer{
                    min-height: 60px;
                }
            }
            margin-bottom: 30px;
        }
    }
}