$fontColor:#343434;
@font-face {
    font-family: "SF-Pro-Display-Black";
    src: url("../fonts/SF-Pro-Display-Black.otf") format('truetype');
  }
@font-face {
    font-family: "regular";
    src: url("../fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format('truetype');
  }
.sectionForm{
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
    font-family: regular;
    h1{
      font-family: SF-Pro-Display-Black;
      color: $fontColor;
    }
    form{
      // position: relative;
      #telInput{
        display: block;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        height: 60px;
        width: 36%;
      }
      #passwordInput{
        display: block;
        border: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        height: 60px;
        width: 36%;
      }
      input[type='email']{
        padding-top:12px ;
        font-size: 16px;
        padding-left: 29px;
        color: #1DD1A1;
      }
      input[type='password']{
        padding-top:12px ;
        font-size: 16px;
        padding-left: 29px;
        color: #1DD1A1;
      }
      hr{
        margin: 0;
        width: 36%;
        color: #E5E5E5;;
      }
      #telLabel{
        margin: 0;
        position: relative;
        &::after{
          width: 100px;
          position: absolute;
          color: #1DD1A1;
          top: 10px;
          left: 29px;
          content: "Telefon nomer";
          height: 10px;
        }
      }
      #passwordLabel{
        margin: 0;
        position: relative;
        &::after{
          width: 100px;
          position: absolute;
          color: #1DD1A1;
          top: -75px;
          left: 29px;
          content: "Parol";
          height: 10px;
          z-index: 9999;
        }
      }
      #sectionKirish{
        margin-top: 10px;
        background-color: #1DD1A1;
        margin-top: 0;
      }
      .checkboxLabel{
        position: relative;
        border-radius: 10px;
        background-color: #fff;
        width: 36px;
        height: 18px;
        margin-left: 25px;
        input{
          opacity: 0;
          width: 0;
          height: 0;
          &:checked + .sliderCheckbox{
            background-color: #1DD1A1;
            &::before{
              transform: translateX(16.5px);
              background-color: #fff;
            }
          }
        }
        .sliderCheckbox{
          position: absolute;
          cursor: pointer;
          border-radius: 10px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          -webkit-transition: .4s;
          transition: .4s;
          &::before{
            transition: .4s;
            content: "";
            position: absolute;
            background-color: #1DD1A1;
            width: 13.5px;
            top: 2.25px;
            left: 3px;
            height: 13.5px;
            border-radius: 50%;
          }
          
        }
      }
      #buttonRow{
        display: flex;
        align-items: center;
        p{
          padding-top: 6px;
          margin-left: 15px;
        }
      }
    }
    img{
      position: absolute;
      top: -60px;
      right: -10px;
      width: 47.5%;
    }
}
@media (max-width: 992px){
  .sectionForm{
    form{
      #telInput{
        width: 70%;
      }
      #passwordInput{
        width: 70%;
      }
    }
    img{
      display: none;
    }
  }
}